<div class="quotes">
	<div class="quote">
		<p class="small">"{{ include.quote1 }}"</p>
		<div class="author">
			<div class="author-image">
				<svg width="48" height="49" viewBox="0 0 48 49" fill="none" xmlns="http://www.w3.org/2000/svg">
			<circle cx="24" cy="24.1371" r="24" fill="#DEE0E2"/>
			</svg>
		</div>
			<div class="author-name">
				<p class="xsmall">{{ include.name1 }}</p>
				<p class="xsmall">{{ include.position1 }}</p>
			</div>
		</div>
	</div>
	<div class="quote">
		<p class="small">"{{ include.quote2 }}"</p>
		<div class="author">
			<div class="author-image">
				<svg width="48" height="49" viewBox="0 0 48 49" fill="none" xmlns="http://www.w3.org/2000/svg">
			<circle cx="24" cy="24.1371" r="24" fill="#DEE0E2"/>
			</svg>
		</div>
			<div class="author-name">
				<p class="xsmall">{{ include.name2 }}</p>
				<p class="xsmall">{{ include.position2 }}</p>
			</div>
		</div>
	</div>
	<div class="quote">
		<p class="small">"{{ include.quote3 }}"</p>
		<div class="author">
			<div class="author-image">
				<svg width="48" height="49" viewBox="0 0 48 49" fill="none" xmlns="http://www.w3.org/2000/svg">
			<circle cx="24" cy="24.1371" r="24" fill="#DEE0E2"/>
			</svg>
		</div>
			<div class="author-name">
				<p class="xsmall">{{ include.name3 }}</p>
				<p class="xsmall">{{ include.position3 }}</p>
			</div>
		</div>
	</div>
</div>